development:
  sessions:
    default:
      database: quotalitious
      hosts:
        - 127.0.0.1:27017
production:
  sessions:
    default:
      database: quotalitious
      hosts:
        - 127.0.0.1:27017
test:
  sessions:
    default:
      database: quotalitious
      hosts:
        - 127.0.0.1:27017