# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d31b7c6e795b74538346b519d6cc65600da8677a69a9b12b5f9fb96ecc42030a223906bef456503dd12274d8a71738ac49e330e3bedc644a4ec1527747bd18af

test:
  secret_key_base: ec8a329b5ff2fea0ca250f4ddb2cf5372eb9627119dc7ba9df8d3a981526e124f0fe7f95f107bfd47532a2e2567faacbfa7ec4c9ff4ba0515b234d6542498788

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
